.container{
    display:flex;
    flex-direction: column;
    width: 230px;
    height: 250px;
    border-radius: 50px;
    background-color: aliceblue;
    transition: all 0.5s ease;
    box-shadow: 0 0 20px rgba(0,255, 255, 0.6);
}

.container:hover{
    transform: scale(1.1);
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
}

.closeButton{
    background-color: rgb(240, 45, 45);
    color:aliceblue;
    border-radius: 15px;
    border: none;
    width:fit-content;
    height: fit-content;
    transition: 0.5s;
}


.closeButton:hover{
    box-shadow: 9px 14px 5px 0px rgba(0,255, 255, 0.6);
    cursor: pointer;
    transform: scale(1.1);
}

img{
    width: 200px;
    border-radius: 20px 20px 0 0;
}

.imageContainer{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    align-items: center;
}

.name{
    background-color: rgba(0,255, 255, 0.6);
    position: absolute;
    margin-bottom: 0px;
}

.propsContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    color: aqua;
    border-radius: 10px 10px 70px 70px;   
    background-color: black;
}

.propsContainer h2{
    margin: 0;
}

.link{
    text-decoration: none;
    color:inherit;
}